@import "../../colors";

.toDosContainer {
  margin-top: 1rem;
  /* List */
  .taskCard {
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
    &.tablet {
      grid-gap: 1.5rem;
      justify-content: space-evenly;
    }
    .task {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0;
      padding: 1rem;
      background-color: rgba(255, 255, 255, 0.489);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      border-radius: 1vw;
      color: $textColor;
      border-left: 1rem solid $progress;
      &.complete {
        background-color: rgba(128, 128, 128, 0.744);
        box-shadow: rgba(230, 230, 241, 0.462) 0px 13px 27px -5px, rgba(218, 210, 210, 0.51) 0px 8px 16px -8px;
        color: $gray;
        border-left: 1rem solid $complete;
        .btns {
          .btn {
            border: none;
            background-color: transparent;
            color: $gray;
            &:disabled {
              border: none;
              color: $gray;
            }
          }
        }
      }
      .editBox {
        margin: 0;
        word-break: break-all;
        width: 60%;
        height: 100%;
        text-align: left;
        border-radius: 1vw;
        &:focus {
          outline: none;
          box-shadow: none;
          border: $progress 0.2rem solid;
          color: $gray;
        }
        &:active {
          outline: none;
          box-shadow: none;
        }
      }
      p {
        margin: 0;
        word-break: break-all;
        width: 60%;
        text-align: left;
      }
      .btns {
        display: flex;
        width: 40%;
        justify-content: flex-end;
        .btn {
          color: $textColor;
          border: none;
          background-color: transparent;
          &:hover,
          &:focus {
            font-weight: bold;
            background-position: right center;
            border: 0.1rem solid $textColor;
            outline: none;
            box-shadow: none;
            color: white;
          }
        }
      }
      ///// styles for tablet, laptop, and desktop /////
      &.tabletTask {
        min-height: 150px;
        border-radius: 0.5vw;
        .editBox {
          width: 50%;
          font-size: 1.5rem;
          border-radius: 0.5vw;
        }
        p {
          width: 50%;
          font-size: 1.5rem;
        }
        .btns {
          width: 50%;
        }
      }
    }
  }
  /* no task left */
  .msg {
    text-align: center;
  }
}

/* Alert for editing items */
.alertModal {
  .modal-header {
    .alert {
      color: $gray;
    }
    .clsBtn {
      color: $white;
      border: $white 0.1rem solid;
      background-color: $main;
      &:hover,
      &:focus {
        background-position: right center;
        background-color: $progress;
        border: 0.1rem solid $white;
        outline: none;
        box-shadow: none;
      }
    }
  }
}
