.toDosContainer {
  margin-top: 1rem;
  /* List */
  /* no task left */
}

.toDosContainer .taskCard {
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
}

.toDosContainer .taskCard.tablet {
  grid-gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.toDosContainer .taskCard .task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.441);
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 1vw;
  color: #7e0d4c;
  border-left: 1rem solid #fc6177;
}

.toDosContainer .taskCard .task.complete {
  background-color: rgba(128, 128, 128, 0.744);
  -webkit-box-shadow: rgba(230, 230, 241, 0.462) 0px 13px 27px -5px, rgba(218, 210, 210, 0.51) 0px 8px 16px -8px;
          box-shadow: rgba(230, 230, 241, 0.462) 0px 13px 27px -5px, rgba(218, 210, 210, 0.51) 0px 8px 16px -8px;
  color: #3a3737;
  border-left: 1rem solid #1bdacf;
}

.toDosContainer .taskCard .task.complete .btns .btn {
  border: none;
  background-color: transparent;
  color: #3a3737;
}

.toDosContainer .taskCard .task.complete .btns .btn:disabled {
  border: none;
  color: #3a3737;
}

.toDosContainer .taskCard .task.editing {
  border: 0.2rem solid #dd3144;
  background: white;
}

.toDosContainer .taskCard .task .editBox {
  margin: 0;
  word-break: break-all;
  width: 60%;
  height: 100%;
  text-align: left;
  border-radius: 1vw;
  margin-right: 1rem;
}

.toDosContainer .taskCard .task .editBox:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: #fc6177 0.2rem solid;
  color: #3a3737;
}

.toDosContainer .taskCard .task .editBox:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.toDosContainer .taskCard .task p {
  margin: 0;
  word-break: break-all;
  width: 60%;
  text-align: left;
}

.toDosContainer .taskCard .task .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.toDosContainer .taskCard .task .btns .btn {
  color: #7e0d4c;
  border: none;
  background-color: transparent;
}

.toDosContainer .taskCard .task .btns .btn:hover, .toDosContainer .taskCard .task .btns .btn:focus {
  font-weight: bold;
  background-position: right center;
  border: 0.1rem solid #7e0d4c;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #dd3144;
}

.toDosContainer .taskCard .task.tabletTask {
  min-height: 150px;
  border-radius: 0.5vw;
}

.toDosContainer .taskCard .task.tabletTask .editBox {
  width: 80%;
  font-size: 1.5rem;
  border-radius: 0.5vw;
}

.toDosContainer .taskCard .task.tabletTask p {
  width: 50%;
  font-size: 1.5rem;
}

.toDosContainer .taskCard .task.tabletTask .btns {
  width: 50%;
}

.toDosContainer .taskCard .task.deskTopTask {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5vw;
}

.toDosContainer .taskCard .task.deskTopTask .editBox {
  margin: 0.5rem auto;
  width: 100%;
  border-radius: 0.5vw;
}

.toDosContainer .taskCard .task.deskTopTask p {
  width: 100%;
  text-align: center;
}

.toDosContainer .taskCard .task.deskTopTask .btns {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.toDosContainer .msg {
  text-align: center;
  color: #dd3144;
}
/*# sourceMappingURL=ToDoList.css.map */