@import "../../colors";

/* Filter*/
.filter {
  text-align: center;
  margin-bottom: 1rem;
  .btn {
    color: $textColor;
    border: none;
    background-color: transparent;
    border-radius: unset;
    margin: 0 0.5rem;
    &:hover,
    &:focus {
      font-weight: bold;
      background-position: right center;
      outline: none;
      box-shadow: none;
    }
    &.selected {
      font-size: 1.3rem;
      background-color: $whiteTr;
      border-radius: 1vw;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
  }
  .showAll {
    &.selected {
      color: $main;
    }
  }
  .InprogressFilter {
    &.selected {
      color: $progress;
    }
  }
  .compFilter {
    &.selected {
      color: $complete;
    }
  }
}
