@import "./colors";

.appContainer {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  header {
    background-color: $main;
    padding: 1rem;
    margin-bottom: 1rem;
    h1 {
      text-align: center;
    }
  }
  .mainContainer {
    width: 90%;
    margin: auto;
    flex: 1;
  }
  footer {
    width: 100%;
    text-align: center;
    color: $white;
    a {
      text-decoration: none;
      margin-left: 0.5rem;
      color: $white;
      &:hover {
        color: $progress;
      }
    }
  }
}
