@import "./colors";

body {
  background: url(./bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // backdrop-filter: blur(1px);
  min-height: 100vh;
  color: $white !important;
  //font-family: "Kavivanar", cursive !important;
  //font-family: "Noticia Text", serif !important;
  font-family: "Philosopher", sans-serif !important;
  font-weight: bold !important;
}
